<!--#!chrome-cli reload && echo 
-->
<!DOCTYPE html>
<html ng-app="App" ng-controller="MainCtrl">
	<head>
		<title>{{ name }}</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

		<script type="text/javascript" src="assets/jquery-2.1.1.js"></script>
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap-theme.css">
		<script src="assets/angular.js"></script>
		<script src="assets/underscore.js"></script>
		<script src="assets/keyString.js"></script>
		<script src="assets/ui-bootstrap-tpls-0.11.0.js"></script>
		<script src="client.js"></script>
		<script src="config.js"></script>

		<link rev="made" href="mailto:cho45@lowreal.net"/>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container">
			<form class="form-horizontal" style="padding: 10px">
				<div style="float: right; width: 300px">
					<div class="form-group form-group-sm">
						<label class="col-sm-4 control-label">Speed</label>
						<div class="col-sm-8">
							<div class="input-group">
								<input type="number" min="5" max="50" class="form-control" ng-model="speed"/>
								<div class="input-group-addon">wpm</div>
							</div>
						</div>
					</div>
					<!-- div class="form-group form-group-sm">
						<label class="col-sm-4 control-label">Inhibit</label>
						<div class="col-sm-8">
							<div class="input-group">
								<input type="number" min="5" max="50" class="form-control" ng-model="inhibit_time"/>
								<div class="input-group-addon">msec</div>
							</div>
						</div>
					</div -->
					<div class="form-group form-group-sm">
						<label class="col-sm-4 control-label">Side tone</label>
						<div class="col-sm-8">
							<div class="input-group">
								<div class="input-group-addon">
									<input type="checkbox" class="" ng-model="toneEnabled"/>
								</div>
								<input type="number" min="100" max="1000" class="form-control" ng-model="tone"/>
								<div class="input-group-addon">Hz</div>
							</div>
						</div>
					</div>
				</div>

				<div style="margin-right: 320px">
					<div class="form-group">
						<div class="col-sm-12">
							<pre class="form-control-static" style="margin-bottom: 10px; min-height: 3em"><span class="sent">{{ sent.join('') }}</span><span class="buffer">{{ buffer }}</span><span class="queue">{{ queue }}</span></pre>
							<style scoped>
								.sent {
									font-weight: bold;
									color: #999;
								}

								.buffer {
									font-weight: bold;
									background: #ffff00;
									color: #000;
								}

								.queue {
									font-weight: bold;
									color: #666;
								}
							</style>
						</div>
						<div class="col-sm-12">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="input" id="input"/>
								<div class="input-group-addon">{{ connected ? 'Connected' : 'Disconnected' }}</div>
							</div>
						</div>
						<div class="col-sm-12" style="margin: 10px 0">
							<div ng-repeat="macro in macros" class="btn-group dropdown" style="margin: 0 5px 5px 0">
								<button class="btn btn-default btn-xs" ng-click="send(macro.text)">{{ macro.name }}</button>
								<button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
									<span class="caret"></span>
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a ng-click="send(macro.text)">{{ macro.text }}</a></li>
									<li class="divider"></li>
									<li><a ng-click="edit(macro)">Edit…</a></li>
								</ul>
							</div>
							<button class="btn btn-success btn-xs" ng-click="edit()">+</button>
						</div>
					</div>
				</div>

			</form>
			<script type="text/ng-template" id="edit.html">
				<div class="modal-header">
					<h3 class="modal-title">Edit</h3>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>
							Name
						</label>
						<input type="text" class="form-control" ng-model="macro.name"/>
					</div>
					<div class="form-group">
						<label>
							Text
						</label>
						<input type="text" class="form-control" ng-model="macro.text"/>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-danger" ng-click="remove()" ng-show="mode == 'edit'">Remove</button>
					<button class="btn btn-primary" ng-click="ok()">OK</button>
					<button class="btn btn-default" ng-click="cancel()">Cancel</button>
				</div>
			</script>
		</div>
	</body>
</html>
